USE [MuOnline]
GO
/****** Object:  StoredProcedure [dbo].[WZ_DeleteCharacter]    Script Date: 7/3/2022 12:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[WZ_DeleteCharacter] 
@Account varchar(10),
@Name varchar(10)
AS
BEGIN

SET NOCOUNT ON
SET	XACT_ABORT ON

DECLARE @Result tinyint

SET @Result = 0

If NOT EXISTS ( SELECT  Name  FROM  Character WHERE Name = @Name )
	begin
		SET @Result	= 0
	end
else
	begin
		SET @Result = 1
		DELETE FROM Character WHERE AccountID = @Account AND Name= @Name
		DELETE FROM OptionData WHERE Name = @Name
		DELETE FROM QuestKillCount WHERE Name = @Name
		DELETE FROM MasterSkillTree WHERE Name = @Name
		DELETE FROM EventLeoTheHelper WHERE Name = @Name
		DELETE FROM EventSantaClaus WHERE Name = @Name
		DELETE FROM QuestWorld WHERE Name = @Name
		DELETE FROM Gens_Rank WHERE Name = @Name
		DELETE FROM Gens_Reward WHERE Name = @Name
		DELETE FROM RankingDuel WHERE Name = @Name
		DELETE FROM RankingBloodCastle WHERE Name = @Name
		DELETE FROM RankingChaosCastle WHERE Name = @Name
		DELETE FROM RankingDevilSquare WHERE Name = @Name
		DELETE FROM RankingIllusionTemple WHERE Name = @Name
		DELETE FROM HelperData WHERE Name = @Name
		DELETE FROM RankingKingPlayer WHERE Name = @Name
		DELETE FROM XTR_PenaltyData WHERE Name = @Name
		DELETE FROM XTR_PetInventory WHERE Name = @Name
		DELETE FROM XTR_QuestInfo WHERE Name = @Name
		DELETE FROM XTR_EventEnterCount WHERE Name = @Name 
		DELETE FROM XTR_PlayerDieLog WHERE Player1 = @Name 
		DELETE FROM XTR_PlayerDieLog WHERE Player2 = @Name 
		/****** V11 ******/
		DELETE FROM FlagSystem WHERE Name = @Name
		DELETE FROM ResetSystem WHERE Name = @Name
	end

SELECT @Result

SET NOCOUNT OFF
SET	XACT_ABORT OFF

END