//-----------------------------------------------------------------------------------------------------------------
//->>  MSPro - MuServerPro Team - Desarrollos de MUOnline
//->>  Web: wwww.muserverpro.com 
//->>  FB: mspromu
//->>  2020 - 2026 MuServerPro Team
//-----------------------------------------------------------------------------------------------------------------

//-----------------------------------------------------------------------------------------------------
// ItemType
// * : All set Parts 7,8,9,10,11 (Helm, Armor, Pants, Gloves, Boots)
//-----------------------------------------------------------------------------------------------------
// [*/0~15]		[0~511]			[1~9999]	[1~9999]
// ItemType		ItemIndex		Resets		Master Resets
//-----------------------------------------------------------------------------------------------------
//  0		  	22				10			0
end